.metric-container{
  text-align: center;
  margin: 10px;
  padding-left: 1%;
  padding-right: 1%;
}

.metrics-container {
  display: flex;
  flex-wrap: wrap;
}

.metric{
  white-space: normal;
  font-size: 32pt;
}
