.model-item {
  border: 1px solid #8080806b;
  padding: 1.5%;
}

#model-and-delete {
  width: 100%
}

#app-title {
  text-align: center
}

.savedmodels-header-container {
  display: flex;
}

.welcome-text{
  margin-left: 50%;
  padding-top: 15%
}

.link-noblue {
  color: black
}

.model-item {
  font-size: 12pt;
  line-height: 18pt;
}

.model-item:hover {
  background-color: #dadadaa6
}
